#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  position: relative;
}

body{
  margin: 0;
}

body .presentation{
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 400px;
}

body h1 {
  font-size: 1.4rem;
  font-weight: 400;
}

body p {
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  width: 40%;
  margin : -.7rem auto 2rem auto;
}

.button{
  font-size: 1rem;
  padding: .7rem 2rem;
  border: 1px solid white;
  background-color: transparent;
  border-radius:10px;
  color: white;
  cursor: pointer;
  transition: color .2s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.button:hover{
  background-color: white;
  color: black;
}
